/* google font  */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #F5F8FF;
}

/* shared styles  */
.primary-color{
  color: #4E47FF;
}
.secondary-color{
  color: #252432;
}
.tarsiary-color{
  color: rgba(37, 36, 50, 0.50);
}
.btn-primary{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;

}
/* header section styles  */
header{
  padding: 0px 150px 150px;
  background-image: url('/images/Hero-bg.png');
}
/* nav bar styles  */
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.nav-title{
  font-size: 34px;
  font-weight: 900;
}
/* banner section styles  */
.banner-container{
  text-align: center;
  margin-top: 158px;
}
.banner-title{
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
} 
/* main section style  */
.action-containr{ 
  display:flex; 
  justify-content: space-between; 
  padding: 159px 141px;
  align-items: center;
}
/*style of action section */ 
.action-tittle{ 
  font-size: 42px;
  font-weight: 700; 
  margin-bottom: 23px;
} 
.action-description{ 
  font-size:  24px;
  font-weight: 400px; 
  margin-bottom: 23px;
} 

/* ACTION IMG STYLES*/ 
.action-img img{ 
  border-radius:48px;
}  


/* productive user section*/
.productive-user-section{ 
  margin: 116px 150px;
  text-align: center;

} 
.productive-title{ 
  font-size: 38px;
  font-weight: 700;
  
 
}

.productive-container{
   display:flex;
   justify-content: center;

   gap:158px;  

}

 /*productive container styles*/

.product-user{ 
  font-size: 88px;
  font-weight: 700;
}
